@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic-ext);

.mainB
{
    width:100%;
}

.left
{
    float:left;
}

.img1
{
    background-image: url("../img/about/img1.jpg");
}
.img0
{
    background-image: url("../img/about/img0.jpg");
}
.img3
{
    background-image: url("../img/about/img3.jpg");
}

.h1
{
    line-height: 110px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
    font-weight: normal;
    color: #ffffff;
}

.width30
{
    width: 25%;
    max-width: 570px;
}

.width40
{
    width: 50%;
}

.height270
{
    height: 270px;
}

.height150
{
    height: 150px;
}

.color1
{
    background-color: #1784d0;
    background-image: url("../img/bg_b.gif");
}

.color2
{
    background-color: mediumpurple;
    background-image: url("../img/bg_p.gif");
}

.color3
{
    background-color: mediumpurple;
    background-image: url("../img/bg_g.gif");
}

.color4
{
    background-color: #db337f;
    background-image: url("../img/bg_r.gif");
}

.color5
{
    background-color: #db337f;
    background-image: url("../img/bg_bs.gif");
}

.colorW
{
    background-color: #dde0e0;
    background-image: url("../img/bg_w.gif");
    overflow: hidden;
    display: table;
}

.cont
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 70px;
    padding-right: 70px;
}

.blackBg
{
    background-color: #000; /* IE 8 */
    background-color: rgba(0,0,0,0.7);
    *background-color: #000; /* IE 7 */
    padding: 20px;
    padding-bottom: 0;
    margin-top: -40px;
    height: 300px;
}