{% extends "salonExpert/index.html" %}
{% load staticfiles %}
{%  block addCSS %}<link rel="stylesheet" href="{% static "css/services.css" %}">{% endblock %}
{%  block addJS %}<script src="{% static "js/services.js" %}"></script>{%  endblock %}
{%  block a0 %}<span>САЛОН</span>{%  endblock %}
{%  block content %}
<article class="pad20">
<h1>Мы сделаем скидку 40% всем желающим!</h1>
Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C
</article>
<article class="left width400 pad20">
<h1>Мы сделаем скидку 40% всем желающим!</h1>
Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C
</article>
<article class="left width400 pad20">
<h1>Мы сделаем скидку 40% всем желающим!</h1>
Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C
</article>
<article class="left width400 pad20">
<h1>Мы сделаем скидку 40% всем желающим!</h1>
Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C
</article>
<article class="left width400 pad20">
<h1>Мы сделаем скидку 40% всем желающим!</h1>
Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray Charles Foundation. Мы надеемся, что музыка и благотворительность Рэя Чарльза "продолжает вдохновлять вас в этот праздничный сезон. С Днем Благодарения к вам и вашим от The Ray C
</article>
{% endblock %}