{% extends "salonExpert/index.html" %}
{% load staticfiles %}
{%  block addCSS %}<link rel="stylesheet" href="{% static "css/services.css" %}">{% endblock %}
{%  block addJS %}<script src="{% static "js/services.js" %}"></script>{%  endblock %}
{%  block a1 %}<span>УСЛУГИ</span>{%  endblock %}
{%  block content %}
<section class="width100 left allServices">
{{servList.0.2.1.1}}

{% for service in servList %}
<article class="service left">
    <div class="scrollPan">
        <h1>{{ service.0 }}</h1>
        {% if service.work_set.all|length > 2 %}
        <span id="r{{ service.id }}" class="bService right bb na">></span>
        <span id="l{{ service.id }}" class="bService right bb nav"><</span>
        {% endif %}
        <!--<a href="" class="bService right">&nbsp;&nbsp;подробнее&nbsp;&nbsp;</a>-->
    </div>
    <div class="scrollAbleBox">
        <div id="s{{ service.id }}" class="scrollAble">
            {% for work in service.2 %}
                <img class="serviceImg" src={{ work.0 }} id={{ work.1 }}  sid={{ work.2 }} >
            {% endfor %}
        </div>
    </div>
    <div class="serviceDiv">
        <div class="val">{{ service.1|safe }}</div>
    </div>
</article>
{% endfor %}

</section>
{% endblock %}