{% extends "salonExpert/index.html" %}
{% load staticfiles %}
{%  block addCSS %}<link rel="stylesheet" href="{% static "css/services.css" %}">{% endblock %}
{%  block addJS %}<script src="{% static "js/services.js" %}"></script>{%  endblock %}
{%  block a1 %}<span>УСЛУГИ</span>{%  endblock %}
{%  block content %}
<section class="left allServices">
{% for service in servList %}
<article class="service left">
    <div class="scrollPan">
        <h1>{{ service.0.0 }}</h1>
        {% if service.1|length > 2 %}
        <span id="r{{ service.0.2 }}" class="bService right bb na">></span>
        <span id="l{{ service.0.2 }}" class="bService right bb nav"><</span>
        {% endif %}
        <!--<a href="" class="bService right">&nbsp;&nbsp;подробнее&nbsp;&nbsp;</a>-->
    </div>
    <div class="scrollAbleBox">
        <div id="s{{ service.0.2 }}" class="scrollAble">
            {% for work in service.1 %}
                <img class="serviceImg" src={{ work.0 }} id={{ work.1 }}  sid={{ work.2 }} >
            {% endfor %}
        </div>
    </div>
    <div class="serviceDiv">
        <div class="val">{{ service.0.1|safe }}</div>
    </div>
</article>
{% endfor %}

</section>
{% endblock %}